@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>In this website, you will be able to click on the different movies that are in the database and see the reviews and tweets that people have written for them. You will also be able to add movies and actor names. You will be able to see which actor played in which movie.</p>
</div>
